################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/patchtest
/resources
/custom_hd_assets.txt
/KHPCPatchManager.exe
/.vs/slnx.sqlite
